<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/scripts/commentbox.js" ></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    
<h1>Your Feed</h1>
<a href="/posts/new">New Article</a>
<% if(posts.length > 0) { %>
    <% posts.forEach((post) => { %>
        <div class="title">
            <%= post.title %>
        </div>
        <div class="date">
            <%= post.createdAt.toLocaleDateString() %>
        </div>
        <div class="category">
            <%= post.category.name %>
        </div>
        <div class="description">
            <a href="/posts/<%= post.slug %>">Read More</a>
            <a href="/posts/edit/<%= post.id %>">Edit</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="#" class="comment-link">Comment
                <form action="/posts/<%= post.id %>" class="comment-form" style="display: none;">
                <%- include('./commentformfields.ejs'); %>
                </form>
            </a>
   <% }) %>
<% } %> 
</body>
</html>
